$color_1: #efb810;
$color_2: #fff;
$color_3: #1CB698;
$font-family_1: 'Work Sans';
$font-family_2: 'Righteous';
$background-color_1: #1CB698;
$background-color_2: #1e2326;
$background-color_3: #efb810;
$background-color_4: #252A2E;
$background-color_5: transparent;
$background-color_6: #131517;